<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>

  <connectionStrings>
    <!--add name="appexhangeuserstoreEntities" connectionString="metadata=res://*/UsersModel.csdl|res://*/UsersModel.ssdl|res://*/UsersModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=568866866;persistsecurityinfo=True;database=appexhangeuserstore&quot;" providerName="System.Data.EntityClient" /-->
    <!--add name="AppexhangeUserStoreContext" connectionString="metadata=res://*/UserStoreModel.csdl|res://*/UserStoreModel.ssdl|res://*/UserStoreModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=568866866;persistsecurityinfo=True;database=appexhangeuserstore&quot;" providerName="System.Data.EntityClient" /-->
    <add name="UsersContext" connectionString="metadata=res://*/UsersModel.csdl|res://*/UsersModel.ssdl|res://*/UsersModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=568866866;persistsecurityinfo=True;database=appexhangeuserstore&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>

    <services>
      <service name="AppExchangeServer.Service">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/Service"/>
          </baseAddresses>
        </host>

        <!-- Указание Адреса, Привязки, Контракта -->
        <endpoint address="" binding="basicHttpBinding" contract="AppExchangeServer.IAppExchange"/>
      </service>
    </services>

  </system.serviceModel>
</configuration>
